.container
  %h2 Sign in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .content-inner
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      .actions
        = f.submit "Log in", class: "submit-btn"
