.container
  %h2= title
  = form_with(model: board, local: true) do |f|
    .content-inner
      .field
        = f.label :name
        %br/
        = f.text_field :name
      .field
        = f.label :description
        %br/
        = f.text_area :description
      .actions
        = f.submit button_text, class: "submit-btn"