.container
  %h2 All Boards
  .content-inner.cards-list
    - @boards.each do |board|
      .card-item
        .card-item__top
          %h3.card-item__title
            = link_to board.name, board_tasks_path(board)
          - if user_signed_in? && current_user.has_written?(board)
            .dropdown
              = image_tag 'combined-shape.svg', class: 'icon--combined-shape'
              %ul.dropdown-content
                %li.dropdown-content__item
                  = link_to 'edit', edit_board_path(board), class: 'dropdown-content__link'
                %li.dropdown-content__item
                  = link_to 'delete', board_path(board), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'dropdown-content__link'
        %p.card-item__description= board.description
        .card-item__bottom
          = image_tag 'Users2.png', class: 'user-icon'
    .add-new-entry
      - if user_signed_in?
        = link_to new_board_path, class: "add-new-entry__link" do
          %span.add-new-entry__link-text + Add new board
      - else
        = link_to new_user_session_path, class: "add-new-entry__link" do
          %span.add-new-entry__link-text + Add new board